interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/teamdetails?TeamID=1610612747
  response:
    body:
      string: '{"resource":"teamdetails","parameters":{"TeamID":1610612747},"resultSets":[{"name":"TeamBackground","headers":["TEAM_ID","ABBREVIATION","NICKNAME","YEARFOUNDED","CITY","ARENA","ARENACAPACITY","OWNER","GENERALMANAGER","HEADCOACH","DLEAGUEAFFILIATION"],"rowSet":[[1610612747,"LAL","Lakers",1948,"Los
        Angeles","Crypto.com Arena","19060","Mark Walter & Jeanie Buss","Rob Pelinka","JJ
        Redick","South Bay Lakers"]]},{"name":"TeamHistory","headers":["TEAM_ID","CITY","NICKNAME","YEARFOUNDED","YEARACTIVETILL"],"rowSet":[[1610612747,"Los
        Angeles","Lakers",1960,2023],[1610612747,"Minneapolis","Lakers",1948,1959]]},{"name":"TeamSocialSites","headers":["ACCOUNTTYPE","WEBSITE_LINK"],"rowSet":[["Facebook","https://www.facebook.com/losangeleslake[...]
